<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.gprc.gprcassistant"
	version 	= "1.0.0">

	<name>GPRC Assistant</name>

	<description>
		An app providing information regarding the GPRC Library
	</description>

	<author href="https://github.com/craigpfau"
		email="craigpfau@gmail.com">
		Craig Pfau
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.2" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="images/icon.png" gap:role="default" />
	<gap:splash src="images/splash.png"/>

	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>